// Heights
// -------------------------------------------------------------------
.height-1 {
    height: 300px;

    @media screen and (min-width: $breakpoint--md) {
        height: 450px;
    }

    @media screen and (min-width: $breakpoint--lg) {
        height: 593px;
    }
}

.height-2 {
    height: 290px;
}


// Other
// -------------------------------------------------------------------
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border--green {
    border: 5px solid $green;
}

.border--tan {
    border: 5px solid $tan;
}